
<body background="~/Images/waterfall_custom.jpg" font color="#dddedc">

    <div class="row">
        <div class="col-md-4" >
            <h2 align="center">WELCOME TO THE WISHING WELL</h2>
            <p>
                A place to help deliver all your financial logistics. 
            </p>
        </div>
    </div>
</body>