@{ 
    Layout = null;
}
<head>
    <link rel="shortcut icon" href="~/Spectre_status.jpg" />
</head>
<body background="~/Images/waterfall_custom.jpg" font color="#dddedc">

<h2 align="center">WELCOME TO FINANCE PLANNER API</h2>
    <div align="center">
        Please click here to enter: @Html.ActionLink("Swagger", "Index", "Swagger")
    </div>

</body>